## -*- coding: utf-8 -*-
<%namespace name="math" file="math_helper.tmpl"/>
<%def name="html_pager()">
  %if prevlink or nextlink:
    <footer class="container">
      <div class="container navigation no-print">
        <h2>Navigation</h2>
        %if prevlink:
          <a class="prev" href="${prevlink}" rel="prev">${messages("Newer posts")}</a>
        %endif
        %if nextlink:
          <a class="next" href="${nextlink}" rel="next">${messages("Older posts")}</a>
        %endif
      </div>
    </footer>
  %endif
</%def>

### This function is deprecated; use math_helper directly.
<%def name="mathjax_script(posts)">
    ${math.math_scripts_ifposts(posts)}
</%def>
